<div class="container">
  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  <div class="card bg-light mb-3">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-1" style="margin-top: 5px;">
          <mat-icon> bar_chart</mat-icon>
        </div>
        <div class="col-md-10">
          <h2 style="text-align: left;margin-left: -65px;margin-bottom: 0px">Skills</h2>
        </div>
        <div class="col-md-1">
          <button mat-raised-button color="primary" (click)="addToSkillsTable()">Add</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form #skillsForm="ngForm">
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label style="font-weight: bold;margin-bottom: 3px;margin-top: 5px">Skill :</label>
              <input type="text" pattern="[a-zA-Z@.0-9 ]+$" class="form-control" #skSkill="ngModel" name="skill"
                     placeholder="Enter Skill"
                     [(ngModel)]="skills.skill" required="required" minlength="3" maxlength="200">
              <span style="color: red;font-weight: bold;font-size: 13px"
                    *ngIf="skSkill.invalid && skSkill.touched && skillList.length == 0">Enter Skill</span>
            </div>
          </div>
        </div>
      </form>
      <br>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Skill</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of skillList">
          <th scope="row">{{data.skill}}</th>
          <td>
            <button class="btn btn-success mx-2" (click)="editSkillData(data)">Edit</button>
            <button class="btn btn-danger" (click)="deleteSkillData(data.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

