<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span class="text-center">RESUME BUILDER</span>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>

<!--add personal detail component-->
<app-personal-dtails (dataEmitter)="receivePersonalData($event)"></app-personal-dtails>

<!--add education component-->
<app-education (dataEmitter)="receiveEducationData($event)"></app-education>

<!--add experience component-->
<app-experience (dataEmitter)="receiveExperienceData($event)"></app-experience>

<!--add skills component-->
<app-skills (dataEmitter)="receiveSkillData($event)"></app-skills>


<div class="container">
  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  <div class="card bg-light mb-3">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-1" style="margin-top: 5px;">
          <button mat-raised-button color="primary" (click)="saveAllData()">Save All</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
